.btn {
  font-family: inherit;
  @include font(600, 12px, 1.33, 1.08px);
  // font-weight: 600;
  // font-size: 12px;
  // line-height: 1.33;
  // letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  padding: 0px;
  // transition: color 300ms linear, background-color 300ms linear;
  @extend %animation-color;
  transition: background-color 300ms linear;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}
