body {
  font-family: var(--main-font);
}

.no-scroll {
  overflow: hidden;
}

/* класс для приховування модалки */
.is-hidden {
  /* прибирає можливість фокусу */
  visibility: hidden;
  /* робить невидимим */
  opacity: 0;
  /* запобігає попаданню на неї кліком  */
  pointer-events: none;
  /* display:none; не можна анімувати, тому й не використоваємо */
}
