// для приховування заголовка секції
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* класс для приховування модалки */
.is-hidden {
  /* прибирає можливість фокусу */
  visibility: hidden;
  /* робить невидимим */
  opacity: 0;
  /* запобігає попаданню на неї кліком  */
  pointer-events: none;
  /* display:none; не можна анімувати, тому й не використоваємо */
}
