.about-container {
  display: flex;
  gap: 30px;
  @include tablet {
    align-items: flex-end;
  }
}

.about-list {
  display: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.about-content {
  max-width: 418px;
  @include tablet {
    max-width: 330px;
  }
  @include desktop {
    max-width: 470px;
  }
}

.about-title {
  margin-bottom: 20px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 306px;
  }
  @media screen and (max-width: 1199px) {
    @include font(700, 28px, 1.17, 1.4px);
  }
}

.about-top-text,
.about-btn {
  color: var(--second-color);
}

.about-bottom-text {
  color: var(--second-text-color);
  margin-bottom: 20px;
  @include font(400, 16px, 1.61, 0.32px);
  @include desktop {
    @include font(400, 18px, 1.66, 0.36px);
  }
}

.about-text {
  @include font(400, 14px, 1.86, 0.28px);
  color: var(--second-text-color);
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 77px;
  }
  @include desktop {
    margin-bottom: 42px;
  }
}
