.barbers-top-text {
  color: var(--second-color);
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: block;
  @include desktop {
    display: flex;
  }
  flex-wrap: wrap;
  gap: 30px;
  /* якщо є gap, то елементам обовязково треба додати розмір  через width: calc(),
  бо якщо пропаде зображення, то схлопнется контент */
}

.barbers-item {
  /* обовязково треба задавати розмір через with:calc(),
  бо якщо пропаде зображення, то схлопнется контент */
  width: 100%;
  text-align: center;
  @include desktop {
    width: calc((100% - 60px) / 3);
    padding-bottom: 0px;
  }
  padding-bottom: 64px;
  &:last-child {
    padding-bottom: 0px;
  }
}

.barbers-item-content {
  padding-top: 30px;
}

.barbers-item-title {
  @include font(400, 18px, 1.38, 0.36px);
  color: var(--second-color);
  margin-bottom: 8px;
}

.barbers-item-text {
  @include font(400, 14px, 1.35, 0.28px);
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* не треба окремо задавати колір для barbers-soc-icon, бо іконка буде наслідувуати колір від батька через fill */
  fill: var(--second-color);
}

.barbers-soc-icon:hover,
.barbers-soc-icon:focus {
  fill: var(--accent-color);
}
