// +
.benefits-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  @include tablet {
    align-items: flex-start;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    gap: 130px;
  }
}

.benefits-content {
  margin-bottom: 44px;
  max-width: 418px;
  @include tablet {
    max-width: 500px;
    padding-top: 9px;
  }
  @include desktop {
    margin-bottom: 0px;
  }
}

.benefits-list {
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    width: 418px;
  }
  @include tablet {
    margin-left: 240px;
    width: 450px;
  }
  @include desktop {
    margin-left: 0px;
    width: 370px;
  }
}

.benefits-item {
  width: 193px;
  height: 133px;
  text-align: center;
  background-color: #f7f7f7;
  margin-bottom: 20px;

  @include mobile {
    margin-bottom: 0px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-child(even) {
      margin-top: 35px;
    }
  }

  @include tablet {
    width: 210px;
    height: 133px;
  }
  @include desktop {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-child(even) {
      margin-top: 30px;
    }
  }
}

/* Селектор дитини ">" -лише для  тих span, які діти для li
   Селектор нащадка (пробіл) " " - для всіх span, які будуть всередині li (онуки) */
.benefits-item span {
  @include font(700, 42px, 1.36, 2.1px);
  color: var(--second-color);
}

.benefits-item-text {
  @include font(600, 11px, 1.36, none);
  color: var(--second-color);
  text-align: center;
  padding: 6px 20px 35px 20px;
}

.benefits-top-text {
  color: var(--second-color);
}

.benefits-title {
  margin-bottom: 20px;
  font-size: 38px;
  @include tablet {
    max-width: 449px;
    font-size: 42px;
  }
  @include desktop {
    max-width: 430px;
  }
}

.benefits-bottom-text {
  @include font(400, 18px, 1.67, 0.36px);
  color: var(--second-text-color);
}
