.gallery {
}

.gallery-text {
  color: var(--second-color);
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* якщо gap, то треба додати в item width: calc ()*/
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}
