.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-connect {
  margin-left: auto;
  margin-right: 17px;
}

.header-item,
.header-tel {
  @include font(600, 12px, 1.33, 1.2px);
  color: var(--main-title-color);
}

.header-link {
  // transition: color 300ms linear;
  @extend %animation-color;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}
